.container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    height: auto;
    width: auto;
    background-color: rgba(255, 0, 0, 0.6);
    padding: 20px;
    border-radius: 50px;
    box-shadow: 5px 5px 5px 0px #00C957;
}

.inputEmail {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 10px;
    text-align: center;
}

.inputPassword {
    width: 100%;
    height: 25px;
    border: none;
    border-radius: 10px;
    text-align: center;
}

.Label {
    color: #00C957;
    font-weight: bold;
    font-size: 30px;
    font-family: Rick2;
    letter-spacing: 2px;
}

.Boton {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 20px; 
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
    font-family: Rick2;
}

.Boton:hover {
    background-color: #3cff00;
}